// CORES
$cor-1: #333;
$cor-2: #888;
$cor-3: #ccc;
$cor-4: #eee;
$cor-5: #fbfbfb;

// FONTE DEFAULT
.font{font-style: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.font-light{@extend .font;font-family: 'Open Sans';  font-weight: 300;}
.font-regular{@extend .font;font-family: 'Open Sans'; font-weight: 400;}
.font-bold{@extend .font;font-family: 'Open Sans'; font-weight: 600;}
.font-black{@extend .font;font-family: 'Open Sans'; font-weight: 800;}

//FONTE ICONES